<div class="contents row" >
  <% @posts.each do |post| %>
    <div class="content_post" style="background-image">
      <p><%= post.date.strftime %></p>
      <p><%= post.check_in.hour %>:<%= post.check_in.min %>-<%= post.check_out.hour %>:<%= post.check_out.min %></p>
      <%= link_to '削除', "/posts/#{post.id}", method: :delete %>
      <%= link_to '編集', "/posts/#{post.id}/edit", method: :get %>
    </div>
    <br>
  <% end %>

  <p><a href="/">戻る</a></p>
</div>
<!--
%p hello world!
%p 投稿が完了したから戻ってね

%p [戻る]でもまだhamlでのaタグの書き方が分かんない -->